body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--main-background);
}



.active {
  position: relative;
}
.header {
  background: var(--main-background);
 
}

.nav {
  display: flex;
  margin-right: auto;


}
.menu-list {

  display: none;
  @media screen and (min-width: 768px)
  {
      display: flex;
  }
  &__active-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  &__active-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1%;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    @media screen and (max-width: 767px)
    {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px)
    {
      bottom: -1%;
    }
    @media screen and (min-width: 1200px) {
      bottom: -1%;
    }
  }
  &__page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--title-name);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

}
.header-contacts-tel{
padding-bottom: 21px;

}
.header-contacts-mail{
padding-top: 21px;

}
.menu-list-nav {
  display: block;
 
  align-items: center;
  &__header-contacts:hover,
&__header-contacts:focus {
  fill: var(--accent-color);
}
@media screen and (max-width: 767px)
  {
      display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px)
  {
    display: block;
   
    margin: 0;
 

   
    .contacts-position:not(:last-child){
    
      margin-bottom: 10px;
      
      
    }
  
   
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    .contacts-position:not(:last-child){
      margin-bottom: 0;
    }
  }
&__header-contacts {
  
  letter-spacing: 0.02em;
  align-items: center;
  color: var(--title-text);
  display: flex;
  fill: var(--title-text);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
  
  @media screen and (min-width: 768px) and (max-width: 1199px)
  {
    display: block;
   
    margin: 0;
    font-weight: 500;
  font-size: 12px;
  line-height: 14px;
 
  
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}
&__header-contacts a:not(:last-child) {
  margin-right: 50px;
}


  &:hover,
  &:focus {
  fill: var(--accent-color);
}
}


.mail-icon,
.phone-icon {
  margin-right: 10px;
}

.menu-list li:not(:last-child) {
  margin-right: 50px;
}
.menu-list a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-list-nav li {
  display: block;
}
.menu-list-nav li:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  
  padding-top: 24px;
  padding-bottom: 25px;
  @media screen and (max-width: 767px)
  {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px)
  {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-blue {
  color: var(--blue-logo);
}
.logo-black {
  color: var(--black-logo);
}
.logo-white {
  color: var(--white-logo);
}


.header {
  border-bottom: 1px solid var(--border-one);
}






  


.burger-button{
 
  justify-content: center;
  align-items: center;
background-color: transparent;
border: none;
display: flex;
padding: 0;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-property: color, fill;
@media screen and (min-width: 768px)
  {
    display: none;
  }


}
.burger-button, .burger-button-close{
fill: var(--title-name);
transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
&:hover, &:focus{
fill: var(--accent-color);
}
}

.mob-menu{
  @media screen and (min-width: 768px)
  {
    display: none;
  }
position: fixed;
top: 0;
left: 0;
background-color: var(--main-background);
min-height: 100%;
min-width: 100%;
z-index: 10;
overflow: auto;


-webkit-transition: opacity 300ms, visibility 300ms;
transition: opacity 300ms, visibility 300ms;



.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 300ms, visibility 300ms;
  transition: opacity 300ms, visibility 300ms;
}



}
.burger-container{
overflow: auto;
min-height: calc(100vh - 44px);
min-width: calc(100vw - 44px);
padding: 0 40px 48px 40px;
margin: 0;
display: flex;
flex-direction: column;
bottom: 0;
justify-content: space-between;
background-color: var(--main-background);
}
.burger-button-close{
background-color: transparent;
border: none;
display: block;
padding: 0;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-property: color, fill;

margin-top: 10px;
margin-right: 15px;
margin-left: auto;
cursor: pointer;
}


.mob-menu-list {
text-align: left;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-property: color, fill;
&:hover, &:focus{
  color: var(--accent-color);
  }
&__active-page {
  color: var(--accent-color);
}
&__page-header {

color: var(--title-name);
}
& li:not(:last-child){
  margin-bottom: 32px;
}


}
.mobile-nav{
flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  
}
.mob-contacts{



}


.mob-connect {

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;

& li:not(:last-child){
margin-bottom: 32px;
}
& li:last-child{
margin-bottom: 64px;
}
&__mail {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: var(--title-text);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-property: color;
}
&__phone {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;
/* identical to box height */
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-property: color;
letter-spacing: 0.02em;
color: var(--accent-color);
}
}
.mob-soc{
  color: var(--accent-color);
}
.mob-soc-items{
  
display: flex;
flex-wrap: wrap;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: var(--accent-color);
}
.mob-soc-items li{
flex-grow: 0;
flex-shrink: 1;
flex-basis: auto;

}
.mob-soc-item{
  text-decoration: none;
  color: var(--accent-color);

}
.mob-soc-items li:not(:last-child){
padding-right: 10px;
border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-items li:not(:first-child){
padding-left: 10px;

}

