:root {
    --accent-color: #2196f3;
    --hero-btncolor: #2196f3;
    --blue-logo: #2196f3;
    --black-logo: #000000;
    --white-logo: #ffffff;
    --hero-background: #2f303a;
    --white-text: #ffffff;
    --main-background: #ffffff;
    --team-backround: #f5f4fa;
    --title-name: #212121;
    --title-text: #757575;
    --footer-color: #2f303a;
    --border-one: #ececec;
    --border-two: #eeeeee;
    --soc-icon: #afb1b8;
    --soc-footer-background: rgba(255, 255, 255, 0.1);
    --accent-color-portfolio: rgba(33, 150, 243, 0.9);
    --overlay: rgba(0, 0, 0, 0.2);
    --our-work-cover: rgba(47, 48, 58, 0.8);
    --modal-button-send-accent: #188ce8;
  }